.NotFoundPage {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.content{
		text-align: center;

		.code {
			font-size: 70px;
		}

		.meaning {
			font-size: 30px;
		}

		.description {
			font-size: 18px;
			margin: 10px 0;
		}

		.goHomeButton {
			padding: 10px 50px;
		}
	}
	
}