@keyframes slide-up {
	0% {
		bottom: -71px;
	}

	25% {
		bottom: 0px;
	}

	100% {
		bottom: 0px;
	}
}

.notification_area{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0px 10px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

	.notification{
		max-width: 100%;
		margin: 5px 0px;
		display: flex;
		padding: 5px 10px;
		width: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 10px;
		color: #fff;
		position: relative;
		animation: slide-up;

		&.none {
			background-color: dodgerblue;
		}
		&.success {
			background-color: green;
		}
		&.error {
			background-color: rgb(196, 19, 19);
		}
		&.warning {
			background-color: orange;
			color: black;
		}
	}

	.message {
		pointer-events: none;
		max-width: 100%;
	}

	.close_notification {
		height: 20px;
		cursor: pointer;
	}
}