@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//family
$fontFamily1 :'Poppins', sans-serif;

$fontFamily2 : source-code-pro,
Menlo,
Monaco,
Consolas,
'Courier New',
monospace;


//sizes
$fontSizeNormal : 15px;