header {
	height: 50px;
	background-color: black;
	display: flex;
	align-items: baseline;
	position: sticky;
	position: -webkit-sticky;
	top: 0;

	section {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

	.brand_name {
		font-size: 1.2rem;

		&:hover {
			color: black;
			background-color: gray;
		}
	}

	a {
		height: 50px;
		line-height: 50px;
		padding: 0px 10px;
		text-decoration: none;
		color: white;

		&:hover {
			color: gray;
		}
	}
}